* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  text-align: center;

.lightModeStyle {
  background-color: #fff;
  color: #333;
  min-height: 100vh;
}

.darkModeStyle {
  background-color: #1a1919;
  color: #999;
  min-height: 100vh;

  nav {
    background-color: #1b2938;
  }
}


nav {
  width: 100%;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;
}

main {
  margin: 50px auto;
  padding: 0.5em;
  width: 50%;
  height: 60vh;
  border: 1px solid black;
  background-color: lightcyan;
  border-radius: 15px;
}

img {
  width: 100%;
  height: 50vh;
  object-fit: contain;
}

.toggle {
  position: relative;
  padding: 0 4px;
  display: flex;
  align-items: center;
}

input[type="checkbox"].checkbox {
  width: 40px;
  height: 10px;
  background: #555;
  position: relative;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  vertical-align: 2px;
  outline: none;
}

input[type="checkbox"].checkbox:checked + label {
  left: 30px;
}

input[type="checkbox"].checkbox:focus-visible {
  outline: solid 2px white;
}

input[type="checkbox"].checkbox + label {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  transition: all 0.3s ease;
  cursor: pointer;
  position: absolute;
  left: 2px;
  background: #fff;
  opacity: 0.9;
  background-color: cyan;
}

.toggleContainer {
  display: flex;
  margin: 0 auto;
}

.toggleContainer > span {
  font-size: 1.2em;
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
  margin-top: 4px;
  margin-right: 2px;
}

.toggleContainer > span:last-child {
  margin-top: 5px;
}

}

